.off-canvas-contain {
	position: relative;

	.off-canvas-left {
		left: -(var($oc-width, 17.5em));
		transition: left .3s ease;
	}

	.off-canvas-right {
		right: -(var($oc-width, 17.5em));
		transition: right .3s ease;
	}

	&.off-canvas--open-left {
		.off-canvas-left {
			left: 0;

			& ~ .off-canvas-content {
				left: var($oc-width, 17.5em);
				right: auto;
			}
		}
	}

	&.off-canvas--open-right {
		.off-canvas-right {
			right: 0;

			& ~ .off-canvas-content {
				left: -(var($oc-width, 17.5em));
				right: var($oc-width, 17.5em);
			}
		}
	}
}

.off-canvas-left,
.off-canvas-right {
	position: fixed;
	top: 0;
	width: var($oc-width, 17.5em);;
	height: 100%;
	transform: translateZ(0);
}

.off-canvas-content {
	position: relative;
	left: 0;
	right: 0;
	transition: left .3s ease, right .3s ease;
}