/********** Breakpoints **********/

$small: 30em;
$medium: 50em;
$large: 64em;

/********** Modal **********/

// Document overlay background color
$modal-overlay: #000;
// Transparency of document overlay background color
$modal-trans: .5;
// Modal background color
$modal-bg: #fff;

/********** Grid **********/

// Grid widths
$grid-width: 8.3333333%;

// Grid gutter
$gutter: null !default;

/********** Off-Canvas **********/

// Off-Canvas width
$oc-width: null !default;
