// Bare Ninja settings file
@import "global/settings";

// Import Bare Ninja
@import "bower_components/barekit/css/barekit";

// Variables
@import "global/variables";

// Base styles
body {
	font-family: $roboto;
	color: $dark;
}

.modal-bg:before {
	z-index: 4;
}

.modal-open {
	z-index: 5;
}

#jsScrollStart {
	background: white;
	position: relative;
	z-index: 2;
}

// Layout files
@import "layout/layout";
@import "layout/header";
@import "layout/hero";
@import "layout/footer";
@import "layout/disclaimer";

// Module files
@import "module/off-canvas";
@import "module/typography";
@import "module/button";
@import "module/subnav";
@import "module/features";
@import "module/usage";
@import "module/rainbow";