.hero {
	position: relative;
	background: $grey;

	@include breakpoint(large) {
		margin-top: 6.5625em;
		padding-top: 6.5625em;
	}

	.text-center {
		@include breakpoint(medium) {
			text-align: left;
		}

		@include breakpoint(large) {
			text-align: center;
		}
	}

	.wrapper {
		max-width: 47.8125em;
	}
}

.hero-icon {
	margin: 0 auto 1.5em;
	z-index: 2;
	width: 150px;
	height: 168.5px;
	background: url(../img/logo-sprite.png) no-repeat;
	background-size: 100%;

	@include breakpoint(medium) {
		float: left;
		margin: 0 2.5em 4em;
	}

	@include breakpoint(large) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		float: none;
		width: auto;
		margin: 1.5em auto 3.75em;
		width: 210px;
		height: 236px;
	}
}

.neeeeked {
	background-position: bottom;
}