.left {
	float: left;
}

.right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.no-bullets {
	list-style: none;
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.show-md {
	display: none;

	@include breakpoint(medium) {
		display: block;
	}
}

.show-lg {
	display: none;

	@include breakpoint(large) {
		display: block;
	}
}