// Colors
$white: #fff;
$grey: #e8e8e8;
$grey-dark: #b5b5b5;
$dark: #282829;
$yellow: #fbd261;
$yellow-dark: #f6c645;

// Fonts
$satisfy: "Satisfy", cursive, Arial, sans-serif;
$roboto: "Roboto Condensed", Helvetica, Arial, sans-serif;