// Colors
$white: #fff;
$grey: #e8e8e8;
$dark: #282829;
$yellow: #fbd261;
$yellow-dark: #f6c645;

// Fonts
$pacifico: "Pacifico", Helvetica, Arial, sans-serif;
$roboto: "Roboto Condensed", Helvetica, Arial, sans-serif;