.off-canvas-contain {
	position: relative;

	&.left-align {
		.off-canvas {
			left: -$oc-width;
			transition: left .3s ease;
		}

		.off-canvas-content {
			left: 0;
			transition: left .3s ease;
		}

		&.off-canvas--open {
			.off-canvas {
				left: 0;
			}

			.off-canvas-content {
				left: $oc-width;
			}
		}
	}

	&.right-align {
		.off-canvas {
			right: -$oc-width;
			transition: right .3s ease;
		}

		.off-canvas-content {
			right: 0;
			transition: right .3s ease;
		}

		&.off-canvas--open {
			.off-canvas {
				right: 0;
			}

			.off-canvas-content {
				right: $oc-width;
			}
		}
	}
}

.off-canvas {
	position: fixed;
	top: 0;
	width: $oc-width;
	height: 100%;
	background: white;
}

.off-canvas-content {
	position: relative;
}