.off-canvas-contain {
	position: relative;
}

.off-canvas {
	position: fixed;
	top: 0;
	left: -17.5em;
	width: 17.5em;
	height: 100%;
	background: white;
	transition: left .3s ease;
}

.off-canvas-content {
	position: relative;
	left: 0;
	transition: left .3s ease;
}

.off-canvas--open {
	.off-canvas {
		left: 0;
	}

	.off-canvas-content {
		left: 17.5em;
	}
}