// Media queries
breakpoint($size) {
  if $size == "small" {
    @media (min-width: $small) {
      {block}
    }
  }
  if $size == "medium" {
    @media (min-width: $medium) {
      {block}
    }
  }
  if $size == "large" {
    @media (min-width: $large) {
      {block}
    }
  }
}

// Outline for form focus states
$outline {
  outline: none;
  box-shadow: 0 0 2px 2px #96c0e6;
}